<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="FileLogger" fileName="/Users/bill.tang/Documents/mmm.log" append="true">
			<PatternLayout pattern="%d %t %-5p %c{2} (%F:%L) - %m%n" />
		</File>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<!-- <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" /> -->
		</Console>
	</Appenders>
	<Loggers>
		<logger name="com.mmm" level="debug" />
		<Root level="trace">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>